baseURL: https://gcptools.dev/
languageCode: en-us
title: GCP Tools
theme: "PaperMod"

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

googleAnalytics: G-BPV5EMELK0

# minify:
#     disableXML: true
#     minifyOutput: true

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    title: gcptools
    description: "This site aims to share the best open source tools to interact with the Google Cloud Platform. Feel free to contribute: https://github.com/SamuelNeves/gcptools.dev/ "
    author: GCP Tools
    # author: ["Me", "You"] # multiple authors
    defaultTheme: auto # dark, light
    disableThemeToggle: false
    ShowReadingTime: true
    ShowShareButtons: true
    disableSpecial1stPost: false
    comments: false
    hidemeta: false
    showtoc: false
    tocopen: false

    assets:
        # disableHLJS: true # to disable highlight.js
        # disableFingerprinting: true
        favicon: "/favicon.ico"
        favicon16x16: "./favicon-16x16.png"
        favicon32x32: "./favicon-32x32.png"

    # label:
    #     text: "Home"
    #     icon: /apple-touch-icon.png
    #     iconHeight: 35

 

    # home-info mode
    homeInfoParams:
        Title: "Hi there \U0001F44B"
        Content: This site aims to share the best open source tools to interact with the Google Cloud Platform.

    # socialIcons:
    #     - name: twitter
    #       url: "https://twitter.com/"
    #     - name: stackoverflow
    #       url: "https://stackoverflow.com"
    #     - name: github
    #       url: "https://github.com/"


    cover:
        hidden: true # hide everywhere but not in structured data
        hiddenInList: true # hide on list pages and home
        hiddenInSingle: true # hide on single page

    # for search
    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]
menu:
    main:
        - name: Search
          identifier: search
          url: search/
          weight: 10
        # - identifier: categories
        #   name: Categories
        #   url: /categories/
        #   weight: 10
        - identifier: tags
          name: Tags
          url: /tags/
          weight: 10
     
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
# pygmentsUseClasses: true
# markup:
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         style: monokai

outputs:
    home:
        - HTML
        - RSS
        - JSON # is necessary
